.vscode/** 
src/**
test/**
dist/test/**
dist/src/**
esbuild.mjs
tsconfig.json
vitest.config.*
scripts/**
node_modules/**
.gitignore
.github/**
images/**
todo.txt
**/*.map
!dist/extension.js
!dist/media/chat.js
